footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #ff6aff, #ff00ff);
    padding: 16px;
    gap: 32px;

}

footer * * {
    border: transparent 2px solid;
    border-radius: 16px;
    padding: 4px;
    font-weight: 500;

}

footer * {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

footer nav.footer-down li:hover,
footer nav.footer-upper li:hover {
    color: white;
    border: #000 2px solid;
    transform: scale(1.2);

}

footer .footer-down a i {
    color: #000000;
}


@media screen and (max-width: 720px) {
    footer {
        font-size: 10px;
        gap: 4px;
    }

    footer * * {
        border: transparent 2px solid;
        border-radius: 16px;
        padding: 0;

    }

}