* {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
 
  flex-direction: column;
  background-color: deepskyblue;
  padding: 5px 20%;
  gap: 35px;

}

nav.navbar.navbar-expand-lg {
  padding: 15px;
}
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-x: none;
}
p:hover{
 transform: scale(1.2);
 font-size: 16px;
 transition: 1.5s;
}
p{
  color: black;
}
h2{
  text-align: center;
}
img{
  align-self: center;
  width: 400px;
  height: auto;
}