.box1{
  color: yellowgreen;
}
.text:hover{
color: chartreuse;
}
.box2{
  color: blueviolet;
}
.text1:hover{
  color: blue;
}
.box10:hover{
color: black;
  transform: scale(1.2)  ;
  transition: 0.5s;
}

.box11:hover{
  color: black;
    transform: scale(1.2)  ;
    transition: 0.5s;
  }
  
  .box12:hover{
    color: black;
      transform: scale(1.2)  ;
      transition: 0.5s;
    }


 ;)
    
